@use 'mixin/breakpoint.modules.scss';
@use 'styles/variables.modules.scss';


.pageLayout{
  display: flex;
  justify-content: center;


  &_item{
    max-width: 1280px;
    @include breakpoint.mobile {
      width: 100%;
    }
  }

  @include breakpoint.mobile {
    margin-inline: variables.$base-space * 2;
    padding-block: variables.$base-space * 4;
    padding-inline: 0px;
  }
  @include breakpoint.tablet {
    margin-inline: variables.$base-space * 4;
    padding-block: variables.$base-space * 8;
    padding-inline: variables.$base-space * 4;
  }
  @include breakpoint.laptop {
    margin-inline: variables.$base-space * 6;
    padding-block: variables.$base-space * 12;
    padding-inline: variables.$base-space * 8;
  }
  @include breakpoint.desktop {
    margin-inline: variables.$base-space * 6;
    padding-block: variables.$base-space * 16;
    padding-inline: variables.$base-space * 10;
  }
}