.selectedSection {
  background-color: #bbe0f0;
}

.sectionDisable {
  border: 2px dashed darkblue ;
  background-color: #f2f2f2;
  cursor: none;
}

.section {
  border: 2px dashed darkblue ;
  cursor: pointer;
}

.listStyle {
  list-style: none;
  display: flex;
}



