@use 'mixin/breakpoint.modules.scss';

.leadScore{
  position: absolute;
  top: 15px;
  right: -16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-inline: 16px;
  padding-block: 4px;

  &_hot{
    background: linear-gradient(355.58deg, #FF837A -103.54%, #E03C31 96.42%);
  }
  &_warm{
    background: linear-gradient(139.79deg, #FF661F 7.09%, #FF9869 100%);
  }
  &_cold{
    background: linear-gradient(139.79deg, #007C80 7.09%, #0FB9BF 100%);
  }
}

.interestedNewProject{
  position: absolute;
  top:50px;
  right: -16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-inline: 16px;
  padding-block: 4px;

  &_strong{
    background: linear-gradient(139.79deg, #002d80 7.09%, #0FB9BF 100%);
  }
  &_normal{
    background: linear-gradient(139.79deg, #029ad6 7.09%, #0FB9BF 100%);
  }
  &_weak{
    background: linear-gradient(139.79deg, #575758 7.09%, #0FB9BF 100%);
  }
}

.cardBase {
  height: fit-content;
}

.container {
  position: relative;
  // min-width: 350px;
  // @include breakpoint.mobile{
  //   max-width: 300px;
  //   min-width: 250px;
  // }
}

.borderTopRound {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.borderBottomRound {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.line {
  width: 100%;
  color: #cccccc;
}

.link{
  color: black;
  text-decoration: none;
  :hover{
    cursor: pointer;
  }
}

.minWidth {
  min-width: fit-content;
}

.showLessIcon {
  transform: rotate(0deg);
  transition: rotate 1s;
}

.showMoreIcon {
  transform: rotate(180deg);
  transition: rotate 1s;
}