.leadScore{
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 6px;
  padding-inline: 16px;
  padding-block: 4px;

  &_hot{
    background-color: red;
  }
  &_warm{
    background-color: rgb(212, 122, 137);
  }
  &_cold{
    background-color: blue;
  }
}

.container {
  position: relative;
}

.showMore {
  grid-column: 1/-1;
}

.showLess {
  grid-column: auto;
}

.minWidth {
  min-width: fit-content;
}